@model Author
@{
    ViewBag.Title = Model.Name;
}

<div>
    <div>
        <p>@Model.Name</p>
        <p>@Model.BirthDate</p>
        <p>@Html.Raw(Model.Description)</p>
    </div>
    <div>
        <p>Paintings</p>
        @foreach (Painting painting in Model.Paintings)
        {
            <p>@painting.Title</p>
        }
    </div>
</div>