@{
    string strTitle = "Admin panel";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <h3>Edit the website data</h3>
        <p><a asp-area="Admin" asp-controller="PaintingItems" asp-action="Index">Paintings</a></p>
        <p><a asp-area="Admin" asp-controller="AuthorItems" asp-action="Index">Authors</a></p>
        <p><a asp-area="Admin" asp-controller="CategoryItems" asp-action="Index">Categories</a></p>
        <p><a asp-area="Admin" asp-controller="PageTextFieldItems" asp-action="Index">Pages text fields data</a></p>
    </div>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>