@model Author
@{
    string strTitle = "Edit author";
    ViewBag.Title = strTitle;
}

<script src="~/js/ckeditor/ckeditor.js"></script>

<div>
    <h1>@strTitle</h1>
    <div>
        <form asp-area="Admin" asp-controller="AuthorItems" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            
            <div asp-validation-summary="All">
                <div class="div-box">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="div-box">
                    <label asp-for="BirthDate"></label>
                    <input type="date" asp-for="BirthDate" />
                    <span asp-validation-for="BirthDate"></span>
                </div>
                <div class="div-box">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="div-box ">
                    <input type="submit" value="Save" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    window.onload = function() {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x => x.Description)');
        newCKEdit.updateElement();
    }
</script>