<!-- Header -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="/" id="logo">@Config.WebsiteName</a></h1>
                    <nav id="nav">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-area="" asp-controller="Paintings" asp-action="Index">Paintings</a>
                        <a asp-area="" asp-controller="Authors" asp-action="Index">Authors</a>
                        <a asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>