@model Painting
@{
    ViewBag.Title = Model.Title;
}

<div>
    <div>
        <img class="img-block" src="~/images/@Model.ImagePath" />
    </div>
    <p>
        @Model.Title
    </p>
    <p>
        @Model.DateCreated
    </p>
    <p>
        @Model.Author!.Name
    </p>
    <p>
        @Model.Category!.Name
    </p>
</div>